### Will be using here distributed computing capabilities of the GPU as well for better performances. 

#### (Change the runtime type to GPU for enabling the capabilities)

In [ ]:
!nvidia-smi

Wed Oct 14 19:07:13 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.23.05    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   34C    P8     9W /  70W |      0MiB / 15079MiB |      0%      Default |
|                               |                      |                 ERR! |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+



1.   Installing JDK - since spark is written in scala and it requires JDK for working.

2.   Downloading and Unzipping the spark package. 
3.   Installing findspark - finds spark and initialize the spark environment.

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq   
!wget -q https://downloads.apache.org/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.6.tgz
!tar xf spark-2.4.7-bin-hadoop2.6.tgz
!pip install -q findspark

* Going to the Maven repo for getting the java/scala bindings and cudf for running on GPU. 

*  Downlaoding XGboost4j-spark, XGboost4j.

In [ ]:
!wget https://repo1.maven.org/maven2/ai/rapids/cudf/0.9.2/cudf-0.9.2-cuda10-1.jar
!wget https://repo1.maven.org/maven2/ai/rapids/xgboost4j_2.x/1.0.0-Beta5/xgboost4j_2.x-1.0.0-Beta5.jar
!wget https://repo1.maven.org/maven2/ai/rapids/xgboost4j-spark_2.x/1.0.0-Beta5/xgboost4j-spark_2.x-1.0.0-Beta5.jar

--2020-10-14 19:07:33--  https://repo1.maven.org/maven2/ai/rapids/cudf/0.9.2/cudf-0.9.2-cuda10-1.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64759406 (62M) [application/java-archive]
Saving to: ‘cudf-0.9.2-cuda10-1.jar.1’

cudf-0.9.2-cuda10-1 100%[===================>]  61.76M  97.1MB/s    in 0.6s

2020-10-14 19:07:34 (97.1 MB/s) - ‘cudf-0.9.2-cuda10-1.jar.1’ saved [64759406/64759406]

--2020-10-14 19:07:34--  https://repo1.maven.org/maven2/ai/rapids/xgboost4j_2.x/1.0.0-Beta5/xgboost4j_2.x-1.0.0-Beta5.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 349225621 (333M) [application/java-archive]
Saving to: ‘xgboost4j_2.x-1.0.0-Beta5.jar.1’

xgboost4j_2.x-1.0.0 100%[===================>] 333.05M  56.2MB/s    in 6.8s

2020-10-14 19:07:41 (49.0 MB/s) - ‘xgboost4j_2.x-1.0.0-Beta5.jar.1’ saved [349225621/349225621]

--2020-10-14 19:07:41--  https://repo1.maven.org/maven2/ai/rapids/xgboost4j-spark_2.x/1.0.0-Beta5/xgboost4j-spark_2.x-1.0.0-Beta5.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4829218 (4.6M) [application/java-archive]
Saving to: ‘xgboost4j-spark_2.x-1.0.0-Beta5.jar.1’

xgboost4j-spark_2.x 100%[===================>]   4.61M  21.8MB/s    in 0.2s

2020-10-14 19:07:41 (21.8 MB/s) - ‘xgboost4j-spark_2.x-1.0.0-Beta5.jar.1’ saved [4829218/4829218]

Setting paths for

*   JAVA_HOME
*   SPARK_HOME

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.6"

Adding the jars to the  path by adding them to PYSPARK_SUBMIT_ARGS

In [ ]:
os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars /content/cudf-0.9.2-cuda10-1.jar,/content/xgboost4j_2.x-1.0.0-Beta5.jar,/content/xgboost4j-spark_2.x-1.0.0-Beta5.jar pyspark-shell'



1.   Creating spark session.

2.   Adding the jar file to the sparkcontext so that the classifier is importable.

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.executor.memory", "2g")
spark.conf.set("spark.driver.memory", "2g")
spark.sparkContext.addPyFile('/content/xgboost4j-spark_2.x-1.0.0-Beta5.jar')



*   Importing gpu data reader 
*   Importing XGBoostClassificationModel, XGBoostClassifier.

In [ ]:
from ml.dmlc.xgboost4j.scala.spark import XGBoostClassificationModel, XGBoostClassifier
from ml.dmlc.xgboost4j.scala.spark.rapids import GpuDataReader
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
import numpy as np
import pandas as pd

Importing Forest Cover type dataset from sklearn datasets.

In [ ]:
from sklearn.datasets import fetch_openml
cover_type = fetch_openml(name = 'covertype', version = 4)

In [ ]:
cover_type

{'DESCR': '**Author**: Jock A. Blackard, Dr. Denis J. Dean, Dr. Charles W. Anderson  \n**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/Covertype) - 1998  \n\nThis is the original version of the famous covertype dataset in ARFF format. \n\n**Covertype**  \nPredicting forest cover type from cartographic variables only (no remotely sensed data). The actual forest cover type for a given observation (30 x 30 meter cell) was determined from US Forest Service (USFS) Region 2 Resource Information System &#40;RIS&#41; data. Independent variables were derived from data originally obtained from US Geological Survey (USGS) and USFS data. Data is in raw form (not scaled) and contains binary (0 or 1) columns of data for qualitative independent variables (wilderness areas and soil types). \n\nThis study area includes four wilderness areas located in the Roosevelt National Forest of northern Colorado. These areas represent forests with minimal human-caused disturbances, so that existing forest cover types are more a result of ecological processes rather than forest management practices. \n\nSome background information for these four wilderness areas: Neota (area 2) probably has the highest mean elevational value of the 4 wilderness areas. Rawah (area 1) and Comanche Peak (area 3) would have a lower mean elevational value, while Cache la Poudre (area 4) would have the lowest mean elevational value. \n\nAs for primary major tree species in these areas, Neota would have spruce/fir (type 1), while Rawah and Comanche Peak would probably have lodgepole pine (type 2) as their primary species, followed by spruce/fir and aspen (type 5). Cache la Poudre would tend to have Ponderosa pine (type 3), Douglas-fir (type 6), and cottonwood/willow (type 4). \n\nThe Rawah and Comanche Peak areas would tend to be more typical of the overall dataset than either the Neota or Cache la Poudre, due to their assortment of tree species and range of predictive variable values (elevation, etc.) Cache la Poudre would probably be more unique than the others, due to its relatively low elevation range and species composition.\n\nAttribute Information:  \nGiven is the attribute name, attribute type, the measurement unit and a brief description. The forest cover type is the classification problem. The order of this listing corresponds to the order of numerals along the rows of the database. \n>\nName / Data Type / Measurement / Description  \nElevation / quantitative /meters / Elevation in meters  \nAspect / quantitative / azimuth / Aspect in degrees azimuth  \nSlope / quantitative / degrees / Slope in degrees  \nHorizontal_Distance_To_Hydrology / quantitative / meters / Horz Dist to nearest surface water features  \nVertical_Distance_To_Hydrology / quantitative / meters / Vert Dist to nearest surface water features  \nHorizontal_Distance_To_Roadways / quantitative / meters / Horz Dist to nearest roadway  \nHillshade_9am / quantitative / 0 to 255 index / Hillshade index at 9am, summer solstice  \nHillshade_Noon / quantitative / 0 to 255 index / Hillshade index at noon, summer solstice  \nHillshade_3pm / quantitative / 0 to 255 index / Hillshade index at 3pm, summer solstice  \nHorizontal_Distance_To_Fire_Points / quantitative / meters / Horz Dist to nearest wildfire ignition points  \nWilderness_Area (4 binary columns) / qualitative / 0 (absence) or 1 (presence) / Wilderness area designation  \nSoil_Type (40 binary columns) / qualitative / 0 (absence) or 1 (presence) / Soil Type designation  \nCover_Type (7 types) / integer / 1 to 7 / Forest Cover Type designation \n\n\nRelevant Papers:  \n- Blackard, Jock A. and Denis J. Dean. 2000. "Comparative Accuracies of Artificial Neural Networks and Discriminant Analysis in Predicting Forest Cover Types from Cartographic Variables." Computers and Electronics in Agriculture 24(3):131-151. \n- Blackard, Jock A. and Denis J. Dean. 1998. "Comparative Accuracies of Neural Networks and Discriminant Analysis in Predicting Forest Cover Types from Cartographic Variables." Second Southern Forestry GIS Conference. University of Georgia. Athens, GA. Pages 189-199. \n- Blackard, Jock A. 1998. "Comparison of Neural Networks and Discriminant Analysis in Predicting Forest Cover Types." Ph.D. dissertation. Department of Forest Sciences. Colorado State University. Fort Collins, Colorado. 165 pages.\n\nDownloaded from openml.org.',
 'categories': {'Soil_Type1': ['0', '1'],
  'Soil_Type10': ['0', '1'],
  'Soil_Type11': ['0', '1'],
  'Soil_Type12': ['0', '1'],
  'Soil_Type13': ['0', '1'],
  'Soil_Type14': ['0', '1'],
  'Soil_Type15': ['0', '1'],
  'Soil_Type16': ['0', '1'],
  'Soil_Type17': ['0', '1'],
  'Soil_Type18': ['0', '1'],
  'Soil_Type19': ['0', '1'],
  'Soil_Type2': ['0', '1'],
  'Soil_Type20': ['0', '1'],
  'Soil_Type21': ['0', '1'],
  'Soil_Type22': ['0', '1'],
  'Soil_Type23': ['0', '1'],
  'Soil_Type24': ['0', '1'],
  'Soil_Type25': ['0', '1'],
  'Soil_Type26': ['0', '1'],
  'Soil_Type27': ['0', '1'],
  'Soil_Type28': ['0', '1'],
  'Soil_Type29': ['0', '1'],
  'Soil_Type3': ['0', '1'],
  'Soil_Type30': ['0', '1'],
  'Soil_Type31': ['0', '1'],
  'Soil_Type32': ['0', '1'],
  'Soil_Type33': ['0', '1'],
  'Soil_Type34': ['0', '1'],
  'Soil_Type35': ['0', '1'],
  'Soil_Type36': ['0', '1'],
  'Soil_Type37': ['0', '1'],
  'Soil_Type38': ['0', '1'],
  'Soil_Type39': ['0', '1'],
  'Soil_Type4': ['0', '1'],
  'Soil_Type40': ['0', '1'],
  'Soil_Type5': ['0', '1'],
  'Soil_Type6': ['0', '1'],
  'Soil_Type7': ['0', '1'],
  'Soil_Type8': ['0', '1'],
  'Soil_Type9': ['0', '1'],
  'Wilderness_Area1': ['0', '1'],
  'Wilderness_Area2': ['0', '1'],
  'Wilderness_Area3': ['0', '1'],
  'Wilderness_Area4': ['0', '1']},
 'data': array([[2.596e+03, 5.100e+01, 3.000e+00, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [2.590e+03, 5.600e+01, 2.000e+00, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [2.804e+03, 1.390e+02, 9.000e+00, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        ...,
        [2.386e+03, 1.590e+02, 1.700e+01, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [2.384e+03, 1.700e+02, 1.500e+01, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [2.383e+03, 1.650e+02, 1.300e+01, ..., 0.000e+00, 0.000e+00,
         0.000e+00]]),
 'details': {'default_target_attribute': 'class',
  'file_id': '1601911',
  'format': 'ARFF',
  'id': '1596',
  'licence': 'Public',
  'md5_checksum': '521cdee1fd153f0b4e912435633e7ff5',
  'name': 'covertype',
  'processing_date': '2018-10-03 21:43:53',
  'status': 'active',
  'tag': ['concept_drift', 'study_218'],
  'upload_date': '2015-06-22T11:33:01',
  'url': 'https://www.openml.org/data/v1/download/1601911/covertype.arff',
  'version': '4',
  'visibility': 'public'},
 'feature_names': ['Elevation',
  'Aspect',
  'Slope',
  'Horizontal_Distance_To_Hydrology',
  'Vertical_Distance_To_Hydrology',
  'Horizontal_Distance_To_Roadways',
  'Hillshade_9am',
  'Hillshade_Noon',
  'Hillshade_3pm',
  'Horizontal_Distance_To_Fire_Points',
  'Wilderness_Area1',
  'Wilderness_Area2',
  'Wilderness_Area3',
  'Wilderness_Area4',
  'Soil_Type1',
  'Soil_Type2',
  'Soil_Type3',
  'Soil_Type4',
  'Soil_Type5',
  'Soil_Type6',
  'Soil_Type7',
  'Soil_Type8',
  'Soil_Type9',
  'Soil_Type10',
  'Soil_Type11',
  'Soil_Type12',
  'Soil_Type13',
  'Soil_Type14',
  'Soil_Type15',
  'Soil_Type16',
  'Soil_Type17',
  'Soil_Type18',
  'Soil_Type19',
  'Soil_Type20',
  'Soil_Type21',
  'Soil_Type22',
  'Soil_Type23',
  'Soil_Type24',
  'Soil_Type25',
  'Soil_Type26',
  'Soil_Type27',
  'Soil_Type28',
  'Soil_Type29',
  'Soil_Type30',
  'Soil_Type31',
  'Soil_Type32',
  'Soil_Type33',
  'Soil_Type34',
  'Soil_Type35',
  'Soil_Type36',
  'Soil_Type37',
  'Soil_Type38',
  'Soil_Type39',
  'Soil_Type40'],
 'frame': None,
 'target': array(['5', '5', '2', ..., '3', '3', '3'], dtype=object),
 'target_names': ['class'],
 'url': 'https://www.openml.org/d/1596'}

In [ ]:
cover_type.data.shape

(581012, 54)

In [ ]:
tar = cover_type.target
np.unique(tar)

array(['1', '2', '3', '4', '5', '6', '7'], dtype=object)

Making Pandas DataFrame out of the data given

In [ ]:
df = pd.DataFrame(data = np.c_[cover_type['data'], cover_type['target']],
                  columns = cover_type['feature_names']+ ['target'])

In [ ]:
df

       Elevation Aspect Slope  ... Soil_Type39 Soil_Type40 target
0           2596     51     3  ...           0           0      5
1           2590     56     2  ...           0           0      5
2           2804    139     9  ...           0           0      2
3           2785    155    18  ...           0           0      2
4           2595     45     2  ...           0           0      5
...          ...    ...   ...  ...         ...         ...    ...
581007      2396    153    20  ...           0           0      3
581008      2391    152    19  ...           0           0      3
581009      2386    159    17  ...           0           0      3
581010      2384    170    15  ...           0           0      3
581011      2383    165    13  ...           0           0      3

[581012 rows x 55 columns]

In [ ]:
df.shape

(581012, 55)

In [ ]:
df.target.value_counts()

2    283301
1    211840
3     35754
7     20510
6     17367
5      9493
4      2747
Name: target, dtype: int64

In [ ]:
df.dtypes

Elevation                             object
Aspect                                object
Slope                                 object
Horizontal_Distance_To_Hydrology      object
Vertical_Distance_To_Hydrology        object
Horizontal_Distance_To_Roadways       object
Hillshade_9am                         object
Hillshade_Noon                        object
Hillshade_3pm                         object
Horizontal_Distance_To_Fire_Points    object
Wilderness_Area1                      object
Wilderness_Area2                      object
Wilderness_Area3                      object
Wilderness_Area4                      object
Soil_Type1                            object
Soil_Type2                            object
Soil_Type3                            object
Soil_Type4                            object
Soil_Type5                            object
Soil_Type6                            object
Soil_Type7                            object
Soil_Type8                            object
Soil_Type9                            object
Soil_Type10                           object
Soil_Type11                           object
Soil_Type12                           object
Soil_Type13                           object
Soil_Type14                           object
Soil_Type15                           object
Soil_Type16                           object
Soil_Type17                           object
Soil_Type18                           object
Soil_Type19                           object
Soil_Type20                           object
Soil_Type21                           object
Soil_Type22                           object
Soil_Type23                           object
Soil_Type24                           object
Soil_Type25                           object
Soil_Type26                           object
Soil_Type27                           object
Soil_Type28                           object
Soil_Type29                           object
Soil_Type30                           object
Soil_Type31                           object
Soil_Type32                           object
Soil_Type33                           object
Soil_Type34                           object
Soil_Type35                           object
Soil_Type36                           object
Soil_Type37                           object
Soil_Type38                           object
Soil_Type39                           object
Soil_Type40                           object
target                                object
dtype: object

Converting the data types to numeric.

In [ ]:
for x in df.columns:
  df[x] = pd.to_numeric(df[x])

target classes to start from 0

In [ ]:
df['target'] = df['target'] -1

In [ ]:
train_df = df.sample(frac = 0.8, random_state = 10)

In [ ]:
train_df

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  target
464108     3381.0     0.0   18.0  ...          0.0          1.0       6
471404     3039.0   291.0   12.0  ...          0.0          0.0       1
545113     3318.0   353.0   21.0  ...          1.0          0.0       0
128748     2823.0    67.0   13.0  ...          0.0          0.0       1
373677     3211.0    16.0   19.0  ...          0.0          0.0       1
...           ...     ...    ...  ...          ...          ...     ...
188485     3198.0   252.0    3.0  ...          0.0          0.0       1
64121      2975.0   253.0   15.0  ...          0.0          0.0       1
91311      3022.0    97.0    9.0  ...          0.0          0.0       1
457244     3133.0   147.0    7.0  ...          0.0          0.0       0
85109      2869.0   168.0   10.0  ...          0.0          0.0       1

[464810 rows x 55 columns]

In [ ]:
test_df = df.drop(train_df.index)

In [ ]:
test_df

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  target
2          2804.0   139.0    9.0  ...          0.0          0.0       1
4          2595.0    45.0    2.0  ...          0.0          0.0       4
6          2606.0    45.0    7.0  ...          0.0          0.0       4
10         2612.0   201.0    4.0  ...          0.0          0.0       4
13         2609.0   214.0    7.0  ...          0.0          0.0       4
...           ...     ...    ...  ...          ...          ...     ...
580987     2450.0   203.0   27.0  ...          0.0          0.0       2
580990     2455.0   166.0   35.0  ...          0.0          0.0       2
580994     2437.0   170.0   23.0  ...          0.0          0.0       2
580995     2437.0   174.0   22.0  ...          0.0          0.0       2
580996     2435.0   171.0   22.0  ...          0.0          0.0       2

[116202 rows x 55 columns]

In [ ]:
train_df.to_parquet(fname = 'c_train.parquet', compression = 'snappy', index = False)
test_df.to_parquet(fname= 'c_test.parquet', compression='snappy', index=False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: the 'fname'' keyword is deprecated, use 'path' instead
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: the 'fname'' keyword is deprecated, use 'path' instead

In [ ]:
!ls

c_test.parquet		   spark-2.4.7-bin-hadoop2.6.tgz
c_train.parquet		   spark-2.4.7-bin-hadoop2.6.tgz.1
cudf-0.9.2-cuda10-1.jar    xgboost4j_2.x-1.0.0-Beta5.jar
cudf-0.9.2-cuda10-1.jar.1  xgboost4j_2.x-1.0.0-Beta5.jar.1
sample_data		   xgboost4j-spark_2.x-1.0.0-Beta5.jar
spark-2.4.7-bin-hadoop2.6  xgboost4j-spark_2.x-1.0.0-Beta5.jar.1

In [ ]:
import pyarrow.parquet as pq

In [ ]:
pq.read_table('c_train.parquet')

pyarrow.Table
Elevation: double
Aspect: double
Slope: double
Horizontal_Distance_To_Hydrology: double
Vertical_Distance_To_Hydrology: double
Horizontal_Distance_To_Roadways: double
Hillshade_9am: double
Hillshade_Noon: double
Hillshade_3pm: double
Horizontal_Distance_To_Fire_Points: double
Wilderness_Area1: double
Wilderness_Area2: double
Wilderness_Area3: double
Wilderness_Area4: double
Soil_Type1: double
Soil_Type2: double
Soil_Type3: double
Soil_Type4: double
Soil_Type5: double
Soil_Type6: double
Soil_Type7: double
Soil_Type8: double
Soil_Type9: double
Soil_Type10: double
Soil_Type11: double
Soil_Type12: double
Soil_Type13: double
Soil_Type14: double
Soil_Type15: double
Soil_Type16: double
Soil_Type17: double
Soil_Type18: double
Soil_Type19: double
Soil_Type20: double
Soil_Type21: double
Soil_Type22: double
Soil_Type23: double
Soil_Type24: double
Soil_Type25: double
Soil_Type26: double
Soil_Type27: double
Soil_Type28: double
Soil_Type29: double
Soil_Type30: double
Soil_Type31: double
Soil_Type32: double
Soil_Type33: double
Soil_Type34: double
Soil_Type35: double
Soil_Type36: double
Soil_Type37: double
Soil_Type38: double
Soil_Type39: double
Soil_Type40: double
target: int64
metadata
--------
OrderedDict([(b'pandas',
              b'{"index_columns": [], "column_indexes": [], "columns": [{"na'
              b'me": "Elevation", "field_name": "Elevation", "pandas_type": '
              b'"float64", "numpy_type": "float64", "metadata": null}, {"nam'
              b'e": "Aspect", "field_name": "Aspect", "pandas_type": "float6'
              b'4", "numpy_type": "float64", "metadata": null}, {"name": "Sl'
              b'ope", "field_name": "Slope", "pandas_type": "float64", "nump'
              b'y_type": "float64", "metadata": null}, {"name": "Horizontal_'
              b'Distance_To_Hydrology", "field_name": "Horizontal_Distance_T'
              b'o_Hydrology", "pandas_type": "float64", "numpy_type": "float'
              b'64", "metadata": null}, {"name": "Vertical_Distance_To_Hydro'
              b'logy", "field_name": "Vertical_Distance_To_Hydrology", "pand'
              b'as_type": "float64", "numpy_type": "float64", "metadata": nu'
              b'll}, {"name": "Horizontal_Distance_To_Roadways", "field_name'
              b'": "Horizontal_Distance_To_Roadways", "pandas_type": "float6'
              b'4", "numpy_type": "float64", "metadata": null}, {"name": "Hi'
              b'llshade_9am", "field_name": "Hillshade_9am", "pandas_type": '
              b'"float64", "numpy_type": "float64", "metadata": null}, {"nam'
              b'e": "Hillshade_Noon", "field_name": "Hillshade_Noon", "panda'
              b's_type": "float64", "numpy_type": "float64", "metadata": nul'
              b'l}, {"name": "Hillshade_3pm", "field_name": "Hillshade_3pm",'
              b' "pandas_type": "float64", "numpy_type": "float64", "metadat'
              b'a": null}, {"name": "Horizontal_Distance_To_Fire_Points", "f'
              b'ield_name": "Horizontal_Distance_To_Fire_Points", "pandas_ty'
              b'pe": "float64", "numpy_type": "float64", "metadata": null}, '
              b'{"name": "Wilderness_Area1", "field_name": "Wilderness_Area1'
              b'", "pandas_type": "float64", "numpy_type": "float64", "metad'
              b'ata": null}, {"name": "Wilderness_Area2", "field_name": "Wil'
              b'derness_Area2", "pandas_type": "float64", "numpy_type": "flo'
              b'at64", "metadata": null}, {"name": "Wilderness_Area3", "fiel'
              b'd_name": "Wilderness_Area3", "pandas_type": "float64", "nump'
              b'y_type": "float64", "metadata": null}, {"name": "Wilderness_'
              b'Area4", "field_name": "Wilderness_Area4", "pandas_type": "fl'
              b'oat64", "numpy_type": "float64", "metadata": null}, {"name":'
              b' "Soil_Type1", "field_name": "Soil_Type1", "pandas_type": "f'
              b'loat64", "numpy_type": "float64", "metadata": null}, {"name"'
              b': "Soil_Type2", "field_name": "Soil_Type2", "pandas_type": "'
              b'float64", "numpy_type": "float64", "metadata": null}, {"name'
              b'": "Soil_Type3", "field_name": "Soil_Type3", "pandas_type": '
              b'"float64", "numpy_type": "float64", "metadata": null}, {"nam'
              b'e": "Soil_Type4", "field_name": "Soil_Type4", "pandas_type":'
              b' "float64", "numpy_type": "float64", "metadata": null}, {"na'
              b'me": "Soil_Type5", "field_name": "Soil_Type5", "pandas_type"'
              b': "float64", "numpy_type": "float64", "metadata": null}, {"n'
              b'ame": "Soil_Type6", "field_name": "Soil_Type6", "pandas_type'
              b'": "float64", "numpy_type": "float64", "metadata": null}, {"'
              b'name": "Soil_Type7", "field_name": "Soil_Type7", "pandas_typ'
              b'e": "float64", "numpy_type": "float64", "metadata": null}, {'
              b'"name": "Soil_Type8", "field_name": "Soil_Type8", "pandas_ty'
              b'pe": "float64", "numpy_type": "float64", "metadata": null}, '
              b'{"name": "Soil_Type9", "field_name": "Soil_Type9", "pandas_t'
              b'ype": "float64", "numpy_type": "float64", "metadata": null},'
              b' {"name": "Soil_Type10", "field_name": "Soil_Type10", "panda'
              b's_type": "float64", "numpy_type": "float64", "metadata": nul'
              b'l}, {"name": "Soil_Type11", "field_name": "Soil_Type11", "pa'
              b'ndas_type": "float64", "numpy_type": "float64", "metadata": '
              b'null}, {"name": "Soil_Type12", "field_name": "Soil_Type12", '
              b'"pandas_type": "float64", "numpy_type": "float64", "metadata'
              b'": null}, {"name": "Soil_Type13", "field_name": "Soil_Type13'
              b'", "pandas_type": "float64", "numpy_type": "float64", "metad'
              b'ata": null}, {"name": "Soil_Type14", "field_name": "Soil_Typ'
              b'e14", "pandas_type": "float64", "numpy_type": "float64", "me'
              b'tadata": null}, {"name": "Soil_Type15", "field_name": "Soil_'
              b'Type15", "pandas_type": "float64", "numpy_type": "float64", '
              b'"metadata": null}, {"name": "Soil_Type16", "field_name": "So'
              b'il_Type16", "pandas_type": "float64", "numpy_type": "float64'
              b'", "metadata": null}, {"name": "Soil_Type17", "field_name": '
              b'"Soil_Type17", "pandas_type": "float64", "numpy_type": "floa'
              b't64", "metadata": null}, {"name": "Soil_Type18", "field_name'
              b'": "Soil_Type18", "pandas_type": "float64", "numpy_type": "f'
              b'loat64", "metadata": null}, {"name": "Soil_Type19", "field_n'
              b'ame": "Soil_Type19", "pandas_type": "float64", "numpy_type":'
              b' "float64", "metadata": null}, {"name": "Soil_Type20", "fiel'
              b'd_name": "Soil_Type20", "pandas_type": "float64", "numpy_typ'
              b'e": "float64", "metadata": null}, {"name": "Soil_Type21", "f'
              b'ield_name": "Soil_Type21", "pandas_type": "float64", "numpy_'
              b'type": "float64", "metadata": null}, {"name": "Soil_Type22",'
              b' "field_name": "Soil_Type22", "pandas_type": "float64", "num'
              b'py_type": "float64", "metadata": null}, {"name": "Soil_Type2'
              b'3", "field_name": "Soil_Type23", "pandas_type": "float64", "'
              b'numpy_type": "float64", "metadata": null}, {"name": "Soil_Ty'
              b'pe24", "field_name": "Soil_Type24", "pandas_type": "float64"'
              b', "numpy_type": "float64", "metadata": null}, {"name": "Soil'
              b'_Type25", "field_name": "Soil_Type25", "pandas_type": "float'
              b'64", "numpy_type": "float64", "metadata": null}, {"name": "S'
              b'oil_Type26", "field_name": "Soil_Type26", "pandas_type": "fl'
              b'oat64", "numpy_type": "float64", "metadata": null}, {"name":'
              b' "Soil_Type27", "field_name": "Soil_Type27", "pandas_type": '
              b'"float64", "numpy_type": "float64", "metadata": null}, {"nam'
              b'e": "Soil_Type28", "field_name": "Soil_Type28", "pandas_type'
              b'": "float64", "numpy_type": "float64", "metadata": null}, {"'
              b'name": "Soil_Type29", "field_name": "Soil_Type29", "pandas_t'
              b'ype": "float64", "numpy_type": "float64", "metadata": null},'
              b' {"name": "Soil_Type30", "field_name": "Soil_Type30", "panda'
              b's_type": "float64", "numpy_type": "float64", "metadata": nul'
              b'l}, {"name": "Soil_Type31", "field_name": "Soil_Type31", "pa'
              b'ndas_type": "float64", "numpy_type": "float64", "metadata": '
              b'null}, {"name": "Soil_Type32", "field_name": "Soil_Type32", '
              b'"pandas_type": "float64", "numpy_type": "float64", "metadata'
              b'": null}, {"name": "Soil_Type33", "field_name": "Soil_Type33'
              b'", "pandas_type": "float64", "numpy_type": "float64", "metad'
              b'ata": null}, {"name": "Soil_Type34", "field_name": "Soil_Typ'
              b'e34", "pandas_type": "float64", "numpy_type": "float64", "me'
              b'tadata": null}, {"name": "Soil_Type35", "field_name": "Soil_'
              b'Type35", "pandas_type": "float64", "numpy_type": "float64", '
              b'"metadata": null}, {"name": "Soil_Type36", "field_name": "So'
              b'il_Type36", "pandas_type": "float64", "numpy_type": "float64'
              b'", "metadata": null}, {"name": "Soil_Type37", "field_name": '
              b'"Soil_Type37", "pandas_type": "float64", "numpy_type": "floa'
              b't64", "metadata": null}, {"name": "Soil_Type38", "field_name'
              b'": "Soil_Type38", "pandas_type": "float64", "numpy_type": "f'
              b'loat64", "metadata": null}, {"name": "Soil_Type39", "field_n'
              b'ame": "Soil_Type39", "pandas_type": "float64", "numpy_type":'
              b' "float64", "metadata": null}, {"name": "Soil_Type40", "fiel'
              b'd_name": "Soil_Type40", "pandas_type": "float64", "numpy_typ'
              b'e": "float64", "metadata": null}, {"name": "target", "field_'
              b'name": "target", "pandas_type": "int64", "numpy_type": "int6'
              b'4", "metadata": null}], "creator": {"library": "pyarrow", "v'
              b'ersion": "0.14.1"}, "pandas_version": "1.1.2"}')])

In [ ]:
train_data = GpuDataReader(spark).format('parquet').load('c_train.parquet')
test_data = GpuDataReader(spark).format('parquet').load('c_test.parquet')

In [ ]:
train_data.schema

In [ ]:
pq_file = pq.read_table('c_train.parquet')

In [ ]:
pq_file.column_names

['Elevation',
 'Aspect',
 'Slope',
 'Horizontal_Distance_To_Hydrology',
 'Vertical_Distance_To_Hydrology',
 'Horizontal_Distance_To_Roadways',
 'Hillshade_9am',
 'Hillshade_Noon',
 'Hillshade_3pm',
 'Horizontal_Distance_To_Fire_Points',
 'Wilderness_Area1',
 'Wilderness_Area2',
 'Wilderness_Area3',
 'Wilderness_Area4',
 'Soil_Type1',
 'Soil_Type2',
 'Soil_Type3',
 'Soil_Type4',
 'Soil_Type5',
 'Soil_Type6',
 'Soil_Type7',
 'Soil_Type8',
 'Soil_Type9',
 'Soil_Type10',
 'Soil_Type11',
 'Soil_Type12',
 'Soil_Type13',
 'Soil_Type14',
 'Soil_Type15',
 'Soil_Type16',
 'Soil_Type17',
 'Soil_Type18',
 'Soil_Type19',
 'Soil_Type20',
 'Soil_Type21',
 'Soil_Type22',
 'Soil_Type23',
 'Soil_Type24',
 'Soil_Type25',
 'Soil_Type26',
 'Soil_Type27',
 'Soil_Type28',
 'Soil_Type29',
 'Soil_Type30',
 'Soil_Type31',
 'Soil_Type32',
 'Soil_Type33',
 'Soil_Type34',
 'Soil_Type35',
 'Soil_Type36',
 'Soil_Type37',
 'Soil_Type38',
 'Soil_Type39',
 'Soil_Type40',
 'target']

In [ ]:
label = 'target'
features = [x for x in pq_file.column_names if x != label]

In [ ]:
features

['Elevation',
 'Aspect',
 'Slope',
 'Horizontal_Distance_To_Hydrology',
 'Vertical_Distance_To_Hydrology',
 'Horizontal_Distance_To_Roadways',
 'Hillshade_9am',
 'Hillshade_Noon',
 'Hillshade_3pm',
 'Horizontal_Distance_To_Fire_Points',
 'Wilderness_Area1',
 'Wilderness_Area2',
 'Wilderness_Area3',
 'Wilderness_Area4',
 'Soil_Type1',
 'Soil_Type2',
 'Soil_Type3',
 'Soil_Type4',
 'Soil_Type5',
 'Soil_Type6',
 'Soil_Type7',
 'Soil_Type8',
 'Soil_Type9',
 'Soil_Type10',
 'Soil_Type11',
 'Soil_Type12',
 'Soil_Type13',
 'Soil_Type14',
 'Soil_Type15',
 'Soil_Type16',
 'Soil_Type17',
 'Soil_Type18',
 'Soil_Type19',
 'Soil_Type20',
 'Soil_Type21',
 'Soil_Type22',
 'Soil_Type23',
 'Soil_Type24',
 'Soil_Type25',
 'Soil_Type26',
 'Soil_Type27',
 'Soil_Type28',
 'Soil_Type29',
 'Soil_Type30',
 'Soil_Type31',
 'Soil_Type32',
 'Soil_Type33',
 'Soil_Type34',
 'Soil_Type35',
 'Soil_Type36',
 'Soil_Type37',
 'Soil_Type38',
 'Soil_Type39',
 'Soil_Type40']

In [ ]:
import time

In [ ]:
params = {
    'eta': 0.1,
    'gamma': 0.1,
    'missing': 0.0,
    'treeMethod': 'gpu_hist',
    'maxDepth':8,
    'growPolicy':'depthwise',
    'lambda_':1.0,
    'subsample': 1.0,
    'numRound': 1000,
    'numWorkers': 1,
    'verbosity':1

}

classifier = XGBoostClassifier(**params).setLabelCol(label).setFeaturesCols(features)

In [ ]:
start_time = time.time()

In [ ]:
model = classifier.fit(train_data)

In [ ]:
print('GPU Training Time: %s seconds' % (str(time.time() - start_time)))

GPU Training Time: 89.63984847068787 seconds

In [ ]:
!nvidia-smi

Wed Oct 14 19:17:48 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.23.05    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   47C    P0    27W /  70W |   1033MiB / 15079MiB |      0%      Default |
|                               |                      |                 ERR! |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
model.write().overwrite().save('/content/model')

In [ ]:
loaded_model = XGBoostClassificationModel().load('/content/model/')

In [ ]:
result = loaded_model.transform(test_data)

In [ ]:
result.show()

+---------+------+-----+--------------------------------+------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+----------------+----------------+----------------+----------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------+--------------------+--------------------+----------+
|Elevation|Aspect|Slope|Horizontal_Distance_To_Hydrology|Vertical_Distance_To_Hydrology|Horizontal_Distance_To_Roadways|Hillshade_9am|Hillshade_Noon|Hillshade_3pm|Horizontal_Distance_To_Fire_Points|Wilderness_Area1|Wilderness_Area2|Wilderness_Area3|Wilderness_Area4|Soil_Type1|Soil_Type2|Soil_Type3|Soil_Type4|Soil_Type5|Soil_Type6|Soil_Type7|Soil_Type8|Soil_Type9|Soil_Type10|Soil_Type11|Soil_Type12|Soil_Type13|Soil_Type14|Soil_Type15|Soil_Type16|Soil_Type17|Soil_Type18|Soil_Type19|Soil_Type20|Soil_Type21|Soil_Type22|Soil_Type23|Soil_Type24|Soil_Type25|Soil_Type26|Soil_Type27|Soil_Type28|Soil_Type29|Soil_Type30|Soil_Type31|Soil_Type32|Soil_Type33|Soil_Type34|Soil_Type35|Soil_Type36|Soil_Type37|Soil_Type38|Soil_Type39|Soil_Type40|target|       rawPrediction|         probability|prediction|
+---------+------+-----+--------------------------------+------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+----------------+----------------+----------------+----------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------+--------------------+--------------------+----------+
|   2804.0| 139.0|  9.0|                           268.0|                          65.0|                         3180.0|        234.0|         238.0|        135.0|                            6121.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   1.0|[-0.7469383478164...|[0.25306165218353...|       1.0|
|   2595.0|  45.0|  2.0|                           153.0|                          -1.0|                          391.0|        220.0|         234.0|        150.0|                            6172.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-3.6181089878082...|[-2.6181089878082...|       1.0|
|   2606.0|  45.0|  7.0|                           270.0|                           5.0|                          633.0|        222.0|         225.0|        138.0|                            6256.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-3.8014855384826...|[-2.8014855384826...|       1.0|
|   2612.0| 201.0|  4.0|                           180.0|                          51.0|                          735.0|        218.0|         243.0|        161.0|                            6222.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-2.7553603649139...|[-1.7553603649139...|       1.0|
|   2609.0| 214.0|  7.0|                           150.0|                          46.0|                          771.0|        213.0|         247.0|        170.0|                            6211.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-3.4563071727752...|[-2.4563071727752...|       1.0|
|   2495.0|  51.0|  7.0|                            42.0|                           2.0|                          752.0|        224.0|         225.0|        137.0|                            5576.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-2.3106122016906...|[-1.3106122016906...|       1.0|
|   2610.0| 259.0|  1.0|                           120.0|                          -1.0|                          607.0|        216.0|         239.0|        161.0|                            6096.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-1.2921860218048...|[-0.2921860218048...|       1.0|
|   2503.0|  38.0|  5.0|                            85.0|                          10.0|                          741.0|        220.0|         228.0|        144.0|                            5555.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-2.8014574050903...|[-1.8014574050903...|       1.0|
|   2880.0| 209.0| 17.0|                           216.0|                          30.0|                         4986.0|        206.0|         253.0|        179.0|                            4323.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   1.0|[-1.0017352104187...|[-0.0017352104187...|       1.0|
|   2768.0| 114.0| 23.0|                           192.0|                          82.0|                         3339.0|        252.0|         209.0|         71.0|                            5972.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-2.6334602832794...|[-1.6334602832794...|       1.0|
|   2507.0|  22.0|  9.0|                           120.0|                          14.0|                          732.0|        215.0|         221.0|        143.0|                            5534.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-3.1587793827056...|[-2.1587793827056...|       1.0|
|   2492.0| 135.0|  6.0|                             0.0|                           0.0|                          860.0|        229.0|         237.0|        142.0|                            5494.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-2.6954731941223...|[-1.6954731941223...|       1.0|
|   2678.0| 128.0|  5.0|                            95.0|                          23.0|                         1660.0|        229.0|         236.0|        141.0|                            6546.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   1.0|[-0.8297964334487...|[0.17020356655120...|       1.0|
|   2489.0| 100.0|  7.0|                            85.0|                          13.0|                          810.0|        232.0|         231.0|        131.0|                            5334.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-2.6900238990783...|[-1.6900238990783...|       1.0|
|   2722.0| 315.0| 24.0|                            30.0|                          19.0|                         3216.0|        148.0|         212.0|        200.0|                            6132.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   0.0|[-0.3477737009525...|[0.65222629904747...|       0.0|
|   2705.0|  90.0|  8.0|                           134.0|                          22.0|                         2023.0|        232.0|         228.0|        129.0|                            6615.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   1.0|[-0.6418224573135...|[0.35817754268646...|       1.0|
|   2509.0|  59.0|  7.0|                           134.0|                          10.0|                          900.0|        226.0|         226.0|        134.0|                            5184.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   4.0|[-1.9093878269195...|[-0.9093878269195...|       1.0|
|   2791.0|  63.0| 10.0|                           418.0|                          48.0|                         2942.0|        229.0|         221.0|        124.0|                            6606.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   1.0|[-0.8246396780014...|[0.17536032199859...|       1.0|
|   2998.0|  45.0|  8.0|                           351.0|                          16.0|                         5842.0|        223.0|         222.0|        134.0|                            3721.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   1.0|[-0.7525664567947...|[0.24743354320526...|       1.0|
|   3067.0|  32.0|  4.0|                            30.0|                          -2.0|                         6679.0|        219.0|         230.0|        147.0|                            2947.0|             1.0|             0.0|             0.0|             0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|       0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        1.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|   1.0|[-1.0301628112792...|[-0.0301628112792...|       1.0|
+---------+------+-----+--------------------------------+------------------------------+-------------------------------+-------------+--------------+-------------+----------------------------------+----------------+----------------+----------------+----------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
MulticlassClassificationEvaluator().setLabelCol(label).evaluate(result)

0.7147915745014763